{% extends 'base.html.twig' %}

{% block title %}Perfil index{% endblock %}

{% block body %}
    <h1>Perfil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for perfil in perfils %}
            <tr>
                <td>{{ perfil.id }}</td>
                <td>{{ perfil.nombre }}</td>
                <td>{{ perfil.descripcion }}</td>
                <td>
                    <a href="{{ path('app_perfil_show', {'id': perfil.id}) }}">show</a>
                    <a href="{{ path('app_perfil_edit', {'id': perfil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_perfil_new') }}">Create new</a>
{% endblock %}
